<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Reservations

    <a data-toggle="collapse" href="#garage_reservations_new_form">
      Add reservation
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @garage.reservations.each do |reservation| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to reservation, reservation %>

        <% if current_user == reservation.user %>
          <%= link_to reservation, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="garage_reservations_new_form">
        <%= render partial: "garages/garage_reservations_new_form" %>
      </div>
    </div>

  </ul>
</div>
