<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @vehicle, partial: "card", as: :vehicle %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "vehicles/vehicle_vehicle_ownerships" %>
  </div>
</div>
