<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @vehicle_type, partial: "card", as: :vehicle_type %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "vehicle_types/vehicle_type_owners" %>
  </div>
</div>
